# Configurações do Backend
NODE_ENV=production
PORT=3001
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=sua_chave_jwt_secreta_minimo_32_caracteres_aleatorios
CORS_ORIGIN=http://72.61.62.17

# Configurações do Frontend
VITE_API_URL=http://72.61.62.17
