NODE_ENV=production
PORT=3001
MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
JWT_SECRET=sua_chave_jwt_secreta_aqui_minimo_32_caracteres
CORS_ORIGIN=http://72.61.62.17

# SQL Server (para buscar produtos e clientes do ERP)
ERP_SERVER=seu-servidor\SQLSTANDARD
ERP_PORT=50140
ERP_DATABASE=seu_banco_dados
ERP_USER=usuario_sql
ERP_PASSWORD=senha_sql
